# Introduction to  Python

## Hello World in Python

**What is Python?**

Python is a dynamic, interpreted (bytecode-compiled) language.

**Why programming with Python?**
* Easy syntax
* Most chosen language for IT
* Omnipresent
* Versatile

In [ ]:
PhoneNumber = '081234567890'
print(type(str(float(PhoneNumber))))

<class 'str'>

In [ ]:
# Check an installed Python
! python --version

Python 3.10.12

In [ ]:
! python3 -V

Python 3.10.12

In [ ]:
print('hello, bangkit')

hello, bangkit

## Basic Python Syntax

### Data Types

* **String** (str): text.
* **Integer** (int): numbers, without fraction.
* **Float**: numbers with fraction.
* **Boolean** (bool): data type which only has 2 values

We can convert from one data type to others by committing to implicit conversion or defining an explicit conversion.

In [ ]:
# Convert String to Integer
phone = "0895444333558"
print(type(phone))

phone = int(phone)
print(type(phone))

<class 'str'>
<class 'int'>

In [ ]:
phone

895444333558

**Let's try!**

In [ ]:
# Try code yourself

phone = 895444333558.0
print(type(phone))

phone = str(phone)
print(type(phone))

<class 'float'>
<class 'str'>

### Variables
* Name to certain values
* The values can be any data type
* The process of storing a value inside a variable **is called an assignment.**
* Can only be made up of letters, numbers, and underscore.
* Canâ€™t be Python reserved keywords.

![image.png]()

In [ ]:
# String (str)
color = "red"
print(type(color))

<class 'str'>

In [ ]:
# Integer (int)
length = 10
print(type(length))

<class 'int'>

In [ ]:
# Float
width = 2.0
print(type(width))

<class 'float'>

**Let's try!**

In [ ]:
# Try code yourself

**Don't Do This**

In [ ]:
def = 'Function'
class = 'Class'

SyntaxError: invalid syntax (<ipython-input-8-10797b05c5c8>, line 1)

In [ ]:
print("and")
print("or")

and
or

In [ ]:
# Find the keyword

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Comparison
* Boolean (bool) data type represents one of two possible states, either True or False.
* Not all data types can be compared, so be aware to compare two different data types.
* Comparison operator not only checking equality and less/more it also includes logical operator: and, or, not.

* Comparison operators
  * a == b: a is equal to b
  * a != b: a is different than b
  * a < b: a is smaller than b
  * a <= b: a is smaller or equal to b
  * a > b: a is bigger than b
  * a >= b: a is bigger or equal to b

* Logical operators
  * a and b: True if both a and b are True. False otherwise.
  * a or b: True if either a or b or both are True. False if both are False.
  * not a: True if a is False, False if a is True.

**Let's try**

In [ ]:
# Try code yourself

print("Android " == "Android")
print(not not False)

False
False

### Functions
* Define function with def keyword.
* Function has body, written as a block after colon in function definition. The block has indented to the right.
* To get value from a function use the return keyword.

![image.png]()

In [ ]:
def greeting(name):
  return 'Hello, ' + name

print(greeting("Nigel"))

Hello, Nigel

### Conditional & If Statements
* The ability of a program to alter its execution sequence is called branching.
* The if block will be executed only if the condition is True.
* Use elif & else statement to handle multiple conditions.

In [ ]:
hour = 10
if hour < 12:
  print("Good morning!")

Good morning!

In [ ]:
def check(number):
    if number > 0:
        return "Positive"
    elif number == 0:
        return "Netral"
    else:
        return "Negative"

print(check(0))

Netral

**Let's try**

In [ ]:
# Try code yourself

def check(number):
  return "Positive" if number > 0 else "Zero" if number == 0 else "Negative"

print(check(-1))

Negative

### Loops

**while** loop instruct computer to continuously execute code based on the value of a condition.

In [ ]:
x = 7

while x > 0:
  print("positive x=" + str(x))
  x = x - 1
  print("now x=" + str(x))

positive x=7
now x=6
positive x=6
now x=5
positive x=5
now x=4
positive x=4
now x=3
positive x=3
now x=2
positive x=2
now x=1
positive x=1
now x=0

**Warning** to avoid infinity loop like this

In [ ]:
x = 7

while x > 0:
  print("positive x=" + str(x))
  x = x + 1
  print("now x=" + str(x))


**for** loop iterates over a sequence of values.

In [ ]:
for x in range(3):
  print("x=" + str(x))

x=0
x=1
x=2

**for** loop also can do this

In [ ]:
sentences = ['Bangkit', "2024", "H1"]
for word in sentences:
  print(word)

Bangkit
2024
H1

Both while and for loops can be interrupted using the **break** keyword.

In [ ]:
for x in range(3):
    print("x=" + str(x))
    if x == 1:
        break  # quit from loop

x=0
x=1

Use the **continue** keyword to skip the current iteration and continue with the next one.

In [ ]:
for x in range(3, 0, -1):
    if x % 2 == 0:
        continue  # skip even
    print(x)

3
1


**`Mini Quiz`**
---
What will happen if we run this program?

In [ ]:
x = 0

while x < 10:
  x = x + 1
  print("x=" + str(x))

x=1
x=2
x=3
x=4
x=5
x=6
x=7
x=8
x=9
x=10

## Python Data Structure

### Strings

* **Represent a piece of text**.

String is a data type in Python employed to represent a piece of text. Itâ€™s written between quotes, either single quotes, double quotes, or triple quotes. Escape character using backslash (\).

String can be as short as zero characters (empty string) or significantly long. String concatenation using plus sign (+). The **len** function tells the number of characters contained in the string.

In [ ]:
program_name = 'bangkit'
program_year = "it's the 2nd"
multi_line = """hello,
email test.
signature."""

# let's
# "bangkit"
print("let's\n\""+program_name+"\"")

print(len(''))  # 0
print(len(program_name)==7)  # True
print(len(multi_line))

let's
"bangkit"
0
True
29

* **To access substring, use index or slicing**.

Python starts counting indexes from 0 not 1. Access index greater than its length - 1, triggers index out of range. Negative indexes starts from behind.

To access substring, use slicing, similar to index, with range using a colon as a separator, starts from first number, up to 1 less than last.

Slicing with one of two indexes means the other index is either 0 for the first value or its length for the second value.

In [ ]:
name = 'bangkit'
print(name[1])  # a
print(name[0])  # b
print(name[len(name)-1])  # t
# print(name[len(name)-0])
print(name[-1])  # t
print(name[-2])  # i
# print(name[-8])  # i

print(name[4:len(name)-1])  # ki
print(name[3:len(name)-2])  # gk

print(name[:4])  # bang (0-3)
print(name[4:])  # kit  (4-len)

a
b
t
t
i
ki
gk
bang
kit

* **Strings in Python are immutable**

Strings in Python are immutable, meaning they can't be modified, canâ€™t change individual characters. It'll trigger TypeError object does not support item assignment.

To change string, replace it with the new string.

Use in keyword to check if substring is a part of the string.

In [ ]:
year = "it's 2024"
year[-1] = "0"  # TypeError

TypeError: 'str' object does not support item assignment

* **Provide a bunch of methods for working with text**

String class provide a bunch of methods for working with text. Not only related to text modification, there's also many of text checking method.

Remember, the goal is not for memorize all of the methods, just check the documentation or search on the web anytime.

In [ ]:
program = 'bangkit 2024'
program2 = 'bang bang'
print(program.index('g'))  # 3
print(program2.index('a')) # 1

print(program.upper())  # BANGKIT 2021
print(program.endswith('2024'))  # True
print(program.endswith('2024 '))  # True
print(program.replace('2024', '2023'))

year = 2024  # integer 2021
print(str(year).isnumeric())  # True
# bangkit for 2021
print("{} for {}".format("bangkit", year))

3
1
BANGKIT 2024
True
False
bangkit 2023
True
bangkit for 2024

In [ ]:
current_year = 2015
print(str(current_year).isnumeric())

True

### **List**

A list in Python is a mutable, ordered collection of items. It is a versatile data structure that can hold elements of different data types. Lists are defined by enclosing elements in square brackets (`[]`) and separating them with commas.


- Lists can contain any type of data, such as integers, floats, strings, or even other lists.
- Being ordered means that the elements in a list have a specific order, and they can be accessed by their index.
- Mutability allows adding, removing, or modifying elements in a list after its creation.

#### **Example:**

In [ ]:
# List of fruit names
fruits = {'apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pineapple'}
print(fruits)
print(type(fruits))

{'orange', 'banana', 'apple', 'mango', 'pineapple', 'grape', 'kiwi'}
<class 'set'>

In [ ]:
# List of fruit names
fruits = ('apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pineapple')
print(fruits)
print(type(fruits))

('apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pineapple')
<class 'tuple'>

In [ ]:
# List of fruit names
fruits = 'apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pineapple'
print(fruits)
print(type(fruits))

('apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pineapple')
<class 'tuple'>

In [ ]:
# List of fruit names
fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pineapple']
print(fruits)
print(type(fruits))

['apple', 'banana', 'orange', 'grape', 'kiwi', 'mango', 'pineapple']
<class 'list'>

In this example:
- A list named `fruits` is created with several fruit names.
- The `print(fruits)` statement displays the content of the list.
- The `print(type(fruits))` statement shows the data type of the variable, which is a list.

#### **Using Lists for Different Data Types**

In Python, lists are versatile and can hold various data types, not just strings. A single list can contain elements of different types, including integers, floats, and even other lists.

In [ ]:
# List with different data types
mixed_list = [1, 2.5, "apple", True, [3, 4, 5]]

# Accessing elements
print("Element at index 2:", mixed_list[2])  # Accessing a string
print("Element at index 4:", mixed_list[4])  # Accessing a nested list

# Modifying the list
mixed_list[1] = 10.5  # Modifying a float to an integer
mixed_list.append("orange")  # Adding a string to the end
print("Modified list:", mixed_list)

Element at index 2: apple
Element at index 4: [3, 4, 5]
Modified list: [1, 10.5, 'apple', True, [3, 4, 5], 'orange']

In [ ]:
x = 0

while x < 10:
  print("x=" + str(x))
  x = x - 1
  print("x=" + str(x))
  break

x=0
x=-1

In this example:
- `mixed_list` is a list containing an integer, a float, a string, a boolean, and another nested list.
- Elements can be accessed and modified regardless of their data type.
- The `append` method is used to add a new element ("orange") to the end of the list.

This flexibility makes lists powerful for handling diverse data in Python.

#### **Handling Heterogeneous Data in Lists**

In Python, a list can be used to store more than one data type, creating a heterogeneous collection of elements. This flexibility allows a single list to hold elements of different types, such as integers, floats, strings, and more.

In [ ]:
# List with heterogeneous data types
heterogeneous_list = [1, "apple", 3.14, True, [5, 6]]

# Accessing elements
print("Element at index 1:", heterogeneous_list[1])  # Accessing a string
print("Element at index 3:", heterogeneous_list[3])  # Accessing a boolean
print("Element at index 3:", heterogeneous_list[4])  # Accessing a boolean

# Modifying the list
heterogeneous_list[0] = 10  # Modifying an integer
heterogeneous_list.append("orange")  # Adding a string to the end
# heterogeneous_list[0] = "apple"
print("Modified list:", heterogeneous_list)

Element at index 1: apple
Element at index 3: True
Element at index 3: [5, 6]
Modified list: [10, 'apple', 3.14, True, [5, 6], 'orange']

In this example:
- `heterogeneous_list` is a list containing elements of different data types.
- Elements can be accessed and modified regardless of their data type.
- The `append` method is used to add a new element ("orange") to the end of the list.

This feature makes lists in Python suitable for handling diverse and mixed types of data.

#### **Nested Lists in Python**

In Python, a list can contain other lists as elements, creating a nested or multidimensional list. This allows for the creation of more complex data structures where each element can be a list itself.

In [ ]:
# Nested lists
outer_list = [1, 2, [3, 4, 5], "apple", ["orange", "banana"]]

# Accessing elements
print("Element at index 2:", outer_list[2])  # Accessing a nested list
print("Element at index 4:", outer_list[4][1])  # Accessing an element in a nested list

# Modifying the list
outer_list[0] = 10  # Modifying an integer in the outer list
outer_list[2][1] = 8  # Modifying an element in the nested list
outer_list.append(["grape", "kiwi"])  # Adding a new nested list
print("Modified list:", outer_list)

Element at index 2: [3, 4, 5]
Element at index 4: banana
Modified list: [10, 2, [3, 8, 5], 'apple', ['orange', 'banana'], ['grape', 'kiwi']]

In this example:
- `outer_list` is a list containing elements of various types, including nested lists.
- Elements can be accessed and modified, whether they are in the outer list or nested within another list.
- The `append` method is used to add a new nested list (`["grape", "kiwi"]`) to the end of the outer list.

The ability to nest lists provides a powerful way to structure and organize data in Python.

In [ ]:
# Nested lists
outer_list = [1, 2, [3, 4, [5, [6, 7, [8, [9]]]]], "apple", ["orange", "banana"]]

# Accessing elements
print("Element at index 2:", outer_list[2])  # Accessing a nested list

Element at index 2: [3, 4, [5, [6, 7, [8, [9]]]]]

#### **Manipulating Matrices with Nested Lists**

The ability to use nested lists in Python is highly beneficial when working with matrices or multidimensional arrays. Matrices can be represented as lists of lists, where each inner list corresponds to a row or column.

![image](https://qph.cf2.quoracdn.net/main-qimg-8a42228263b908bec0de477a66c0f83e)

In [ ]:
# Matrix represented using nested lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing elements
print("Element at row 2, column 3:", matrix[1][2])

# Modifying the matrix
matrix[0][1] = 10  # Modifying an element in the matrix
matrix[2].append(10)  # Adding a new element to the end of the third row
print("Modified matrix:", matrix)

Element at row 2, column 3: 6
Modified matrix: [[1, 10, 3], [4, 5, 6], [7, 8, 9, 10]]

In this example:
- `matrix` is represented using nested lists, where each inner list corresponds to a row.
- Elements can be accessed and modified in a matrix-like fashion.
- The `append` method is used to add a new element (`10`) to the end of the third row.

This approach simplifies the manipulation and representation of matrices in Python programs.

#### **Determining the Length of a List**

In Python, the length of a list is determined by the number of elements it contains. The `len()` function is used to retrieve the length or the number of elements in a list.

In [ ]:
# List with elements
fruits = ["apple", "banana", "orange", "grape"]

# Displaying the length of the list
length_of_fruits = len(fruits)
print("Length of the list:", length_of_fruits)

Length of the list: 4

In this example:
- The list `fruits` contains four elements.
- The `len()` function is used to determine the length of the list.
- The result is displayed using the `print` statement.

The `len()` function is a useful tool for obtaining information about the size of a list in Python.

#### **Irregular Nested Lists**

In Python, nested lists are not restricted to having a perfect matrix-like structure. Lists can contain other lists of different sizes and even elements of different types. This flexibility allows the creation of irregular or jagged nested lists.

In [ ]:
# Irregular nested list
irregular_list = [1, [2, 3], [4, 5, 6], "apple", ["orange", 8, 9]]

# Accessing elements
print("Element at index 2:", irregular_list[2])  # Accessing a nested list
print("Element at index 4, element 1:", irregular_list[4][0])  # Accessing an element in a nested list

# Modifying the list
irregular_list[0] = 10  # Modifying an integer
irregular_list[2][1] = 7  # Modifying an element in the nested list
irregular_list.append(["grape", 10, "kiwi"])  # Adding a new nested list
print("Modified list:", irregular_list)

Element at index 2: [4, 5, 6]
Element at index 4, element 1: orange
Modified list: [10, [2, 3], [4, 7, 6], 'apple', ['orange', 8, 9], ['grape', 10, 'kiwi']]

In this example:
- `irregular_list` is a nested list with irregular sizes and different types of elements.
- Elements can be accessed and modified, regardless of the structure.
- The `append` method is used to add a new nested list (`["grape", 10, "kiwi"]`) to the end of the list.

This flexibility allows for the creation of more complex and diverse data structures in Python.

#### **List Indexing and Slicing**

**Indexing:**
- Indexing in Python lists starts from 0. Each element in the list has a unique index.
- Positive indexing refers to counting from the beginning of the list (starting with 0).
- Negative indexing refers to counting from the end of the list (starting with -1 for the last element).

**Slicing:**
- Slicing allows extracting a portion of a list, creating a new list.
- The syntax for slicing is `list[start:stop:step]`, where `start` is the beginning index, `stop` is the ending index (exclusive), and `step` is the interval.

In [ ]:
# List for indexing and slicing
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Indexing
print("Element at index 3:", numbers[3])       # Positive indexing
print("Element at index -2:", numbers[-2])     # Negative indexing

Element at index 3: 3
Element at index -2: 8

In [ ]:
alphabets = ['a', 'b', 'c', 'd', 'e']
print(alphabets[1:3])

['b', 'c']

In [ ]:
# Slicing
print("Sliced elements:", numbers[2:7])        # Elements from index 2 to 6
print("Sliced with step:", numbers[1:9:2])     # Elements from index 1 to 8 with a step of 2
print("Sliced in reverse:", numbers[::-1])     # All elements in reverse order

Sliced elements: [2, 3, 4, 5, 6]
Sliced with step: [1, 3, 5, 7]
Sliced in reverse: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In this example:
- Positive and negative indexing are demonstrated.
- Slicing is used to extract specific portions of the list.
- Different slicing techniques, such as using steps and reversing the list, are shown.

Understanding indexing and slicing is crucial for efficient manipulation of data in Python lists.

#### **Manipulating Elements in a List**


**Adding Elements:**
- Elements can be added to the end of a list using the `append()` method.
- Multiple elements can be added at once using the `extend()` method or the `+` operator.

**Removing Elements:**
- Elements can be removed by specifying the value using the `remove()` method.
- The `pop()` method removes and returns the element at a specific index.
- The `del` statement can be used to remove elements or slices based on index.

In [ ]:
# List for manipulation
fruits = ["apple", "banana", "orange", "grape"]

In [ ]:
# Adding elements
fruits.append("kiwi")                 # Adding a single element
fruits.extend(["melon", "pineapple"])  # Adding multiple elements
fruits += ["peach", "mango"]           # Another way to add multiple elements

# Displaying the modified list
print("List after adding elements:", fruits)

List after adding elements: ['apple', 'banana', 'orange', 'grape', 'kiwi', 'melon', 'pineapple', 'peach', 'mango']

In [ ]:
# Removing elements
fruits.remove("banana")        # Removing a specific element
removed_element = fruits.pop(2) # Removing and returning element at index 2
del fruits[0]                   # Removing element at index 0

# Displaying the modified list
print("List after removing elements:", fruits)
print("Removed element:", removed_element)

List after removing elements: ['orange', 'kiwi', 'melon', 'pineapple', 'peach', 'mango']
Removed element: grape

In this example:
- Elements are added using `append()`, `extend()`, and the `+` operator.
- Elements are removed using `remove()`, `pop()`, and the `del` statement.

These operations allow for dynamic modification of lists in Python.

#### **Checking Elements in a List**

**Using `in` and `not in` Operators:**
- The `in` operator checks if an element exists in a list.
- The `not in` operator checks if an element does not exist in a list.
- Both operators return a boolean value.

In [ ]:
# List for element checks
colors = ["red", "blue", "green", "yellow", "orange"]

In [ ]:
# Using 'in' operator
print("Is 'blue' in the list?", 'blue' in colors)
print("Is 'purple' in the list?", 'purple' in colors)

Is 'blue' in the list? True
Is 'purple' in the list? False

In [ ]:
# Using 'not in' operator
print("Is 'green' not in the list?", 'green' not in colors)
print("Is 'yellow' not in the list?", 'yellow' not in colors)

Is 'green' not in the list? False
Is 'yellow' not in the list? False

In this example:
- The `in` operator is used to check if "blue" and "purple" exist in the list.
- The `not in` operator is used to check if "green" and "yellow" do not exist in the list.

These operators are useful for conditional checks and decision-making based on the presence or absence of elements in a list.

#### **Searching for Elements in a List**

**Using the `index()` Function:**
- The `index()` function is used to find the index of a specific element in a list.
- If the element is found, the function returns the index of the first occurrence.
- If the element is not found, it raises a `ValueError`.

In [ ]:
# List for searching
numbers = [10, 20, 30, 40, 50, 20, 60]

# Using 'index()' function
index_of_30 = numbers.index(30)
print("Index of 30:", index_of_30)

# Trying to find the index of a non-existing element
try:
    index_of_70 = numbers.index(70)
    print("Index of 70:", index_of_70)
except ValueError:
    print("Element 70 not found in the list.")

Index of 30: 2
Element 70 not found in the list.

In this example:
- The `index()` function is used to find the index of the element "30" in the list.
- An attempt is made to find the index of the non-existing element "70," resulting in a `ValueError` being caught.

The `index()` function is useful for locating the position of a specific element within a list.

#### **Sorting a List**

**Using the `sort()` Method:**
- The `sort()` method is used to sort a list in-place, meaning it modifies the original list.
- It arranges the elements in ascending order by default.
- The `reverse` parameter can be set to `True` to sort in descending order.

**Using the `sorted()` Function:**
- The `sorted()` function creates a new sorted list from the elements of the original list.
- It does not modify the original list.
- Like `sort()`, the `reverse` parameter can be used to sort in descending order.

In [ ]:
# List for sorting
numbers = [40, 10, 30, 20, 50]

# Using 'sort()' method
numbers.sort()
print("Sorted list using 'sort()':", numbers)

# Using 'sorted()' function
sorted_numbers = sorted(numbers, reverse=True)
print("Original list:", numbers)
print("Sorted list using 'sorted()':", sorted_numbers)

Sorted list using 'sort()': [10, 20, 30, 40, 50]
Original list: [10, 20, 30, 40, 50]
Sorted list using 'sorted()': [50, 40, 30, 20, 10]

In this example:
- The `sort()` method is used to sort the list `numbers` in ascending order.
- The `sorted()` function creates a new sorted list (`sorted_numbers`) in descending order without modifying the original list.

Both approaches provide a way to organize the elements of a list in a specified order.

#### **Deleting Elements from a List**

1. **Using the `del` Statement:**
   - The `del` statement is used to remove elements from a list based on their index.
   - It can also be used to delete the entire list or a slice of the list.

2. **Using the `remove()` Method:**
   - The `remove()` method is used to remove a specific element from the list.
   - If the element appears multiple times, only the first occurrence is removed.
   - If the element is not found, it raises a `ValueError`.

3. **Using the `clear()` Method:**
   - The `clear()` method is used to remove all elements from the list, making it empty.

In [ ]:
# List for deletion
colors = ["red", "green", "blue", "yellow", "green"]

In [ ]:
# Using 'del' statement
del colors[2]  # Deleting element at index 2
print("List after 'del' statement:", colors)

List after 'del' statement: ['red', 'green', 'yellow', 'green']

In [ ]:
# Using 'remove()' method
colors.remove("green")  # Removing the first occurrence of "green"
print("List after 'remove()' method:", colors)

List after 'remove()' method: ['red', 'yellow', 'green']

In [ ]:
removed_colors = colors.pop(2)
print(removed_colors)
print("List after 'pop()' method:", colors)

green
List after 'pop()' method: ['red', 'yellow']

In [ ]:
# Using 'clear()' method
colors.clear()  # Removing all elements
print("List after 'clear()' method:", colors)

List after 'clear()' method: []

In this example:
- The `del` statement is used to delete the element at index 2.
- The `remove()` method is used to remove the first occurrence of the element "green."
- The `clear()` method is used to remove all elements, resulting in an empty list.

These methods provide flexibility for deleting specific elements or clearing the entire list.

#### **Copying a List**

**Using the Assignment Operator (`=`):**
- The assignment operator (`=`) can be used to create a copy of a list.
- Changes made to the copy will affect the original list, and vice versa.

**Using the `copy()` Method:**
- The `copy()` method is specifically designed for creating a shallow copy of a list.
- The copy created using `copy()` is independent of the original list, meaning changes to one do not affect the other.

In [ ]:
# Original list
original_list = [1, 2, 3, 4, 5]

# Using assignment operator to create a copy
copied_list_1 = original_list

# Using 'copy()' method to create a copy
copied_list_2 = original_list.copy()

# Modifying the copied lists
copied_list_1[0] = 10
copied_list_2[1] = 20

# Displaying the results
print("Original list:", original_list)
print("List copied with assignment operator:", copied_list_1)
print("List copied with 'copy()' method:", copied_list_2)

Original list: [10, 2, 3, 4, 5]
List copied with assignment operator: [10, 2, 3, 4, 5]
List copied with 'copy()' method: [1, 20, 3, 4, 5]

In this example:
- The assignment operator (`=`) is used to create `copied_list_1`, which is a reference to the original list.
- The `copy()` method is used to create `copied_list_2`, which is an independent copy of the original list.
- Modifying `copied_list_1` affects the original list, while modifying `copied_list_2` does not.

Using the `copy()` method is advisable when you want an independent copy of a list to avoid unintended modifications.

#### **Unpacking a List**

Unpacking a list allows you to assign values to multiple variables at once based on the elements of the list.

In [ ]:
# List for unpacking
student_info = ["John Doe", 20, "Computer Science"]

# Unpacking the list into variables
name, age, major = student_info

# Displaying the unpacked values
print("Name:", name)
print("Age:", age)
print("Major:", major)

Name: John Doe
Age: 20
Major: Computer Science

In this example:
- The list `student_info` contains information about a student.
- The elements of the list are unpacked into variables `name`, `age`, and `major` in a single line.

Unpacking is a convenient way to assign values from a list to multiple variables, especially when the number of variables matches the number of elements in the list.

### **Tuple**

A tuple is created by providing identifiers and data, with each data separated by a comma (`,`). The tuple can be enclosed in parentheses `()` for readability, although it's not mandatory.

Key characteristics of tuples:
- Immutable: Once a tuple is created, its elements cannot be changed or added.
- Ordered: Elements in a tuple maintain the order of insertion.
- Allows elements of different data types.
- Can be nested, allowing the creation of more complex data structures.

Tuples are commonly used when you want to represent a collection of items that should remain constant throughout the program.

#### **Example**

In [ ]:
# Creating tuples
fruits = 'apple', 'orange', 'banana', 'grape'
numbers = 5, 10, 15, 20
decimal_numbers = (2.5, -1.8, 4.7, 0.3)
conditions = (False, True, True, False)

# Displaying tuples
print(fruits)
print(numbers)
print(decimal_numbers)
print(conditions)

('apple', 'orange', 'banana', 'grape')
(5, 10, 15, 20)
(2.5, -1.8, 4.7, 0.3)
(False, True, True, False)

In [ ]:
# Checking the type of 'fruits'
type(fruits)

tuple

In this example:
- `fruits` is a tuple of strings representing different fruits.
- `numbers` is a tuple of integers.
- `decimal_numbers` is a tuple of floating-point numbers.
- `conditions` is a tuple of boolean values.

The `type()` function is used to check the type of the `fruits` tuple, confirming that it is indeed a tuple. Tuples can hold a variety of data types and are flexible in their usage.

#### **Tuple with Heterogeneous Elements and Nested Tuple**

Tuples in Python can contain elements of different data types, and they can also include other tuples.

In [ ]:
# Tuple with heterogeneous elements
mixed_tuple = (1, "two", 3.0, True)

# Nested tuple
nested_tuple = ((1, 2), ("a", "b"))

# Displaying tuples
print("Mixed tuple:", mixed_tuple)
print("Nested tuple:", nested_tuple)

Mixed tuple: (1, 'two', 3.0, True)
Nested tuple: ((1, 2), ('a', 'b'))

In this example:
- `mixed_tuple` is a tuple that includes elements of different data types (integer, string, float, boolean).
- `nested_tuple` is a tuple containing other tuples as its elements.

Tuples, with their flexibility, allow for the creation of more complex data structures and can be used to represent a wide range of scenarios in programming.

#### **Converting List to Tuple and Vice Versa**

A list can be converted to a tuple using the `tuple()` function, and similarly, a tuple can be converted to a list using the `list()` function.

In [ ]:
# Converting list to tuple
numbers_list = [1, 2, 3, 4, 5]
numbers_tuple = tuple(numbers_list)

# Converting tuple to list
fruits_tuple = ('apple', 'orange', 'banana', 'grape')
fruits_list = list(fruits_tuple)

# Displaying the results
print("List to Tuple:", numbers_tuple)
print("Tuple to List:", fruits_list)

List to Tuple: (1, 2, 3, 4, 5)
Tuple to List: ['apple', 'orange', 'banana', 'grape']

In this example:
- `numbers_list` is a list of integers, and it is converted to a tuple named `numbers_tuple`.
- `fruits_tuple` is a tuple of strings, and it is converted to a list named `fruits_list`.

These conversions are useful when you need to switch between lists and tuples based on the requirements of your program.

#### **Tuple Indexing & Slicing**

**Tuple Indexing & Slicing:**

Indexing and slicing in tuples work similarly to lists. Elements in a tuple can be accessed using their index, and slices can be taken to obtain sub-tuples.

In [ ]:
# Tuple for indexing and slicing
colors_tuple = ("red", "green", "blue", "yellow", "purple")

# Indexing
first_color = colors_tuple[0]
last_color = colors_tuple[-1]

# Slicing
selected_colors = colors_tuple[1:4]  # Elements at index 1, 2, 3

# Displaying the results
print("First color:", first_color)
print("Last color:", last_color)
print("Selected colors:", selected_colors)

First color: red
Last color: purple
Selected colors: ('green', 'blue', 'yellow')

In this example:
- `colors_tuple` is a tuple of strings.
- Indexing is used to access the first and last elements of the tuple.
- Slicing is used to create a sub-tuple containing elements from index 1 to 3 (inclusive).

Just like lists, tuples support indexing and slicing operations, making it easy to retrieve specific elements or create sub-tuples.

#### **Tuple Manipulation**

In [ ]:
party = ("pdip", "demokrat", "gerindra", "golkar")
party[1] = "psi"
print(party)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Original tuple
colors_tuple = ("red", "green", "blue", "yellow", "purple")

# Attempting to modify an element (not possible, will raise a TypeError)
# colors_tuple[1] = "orange"  # Uncommenting this line will raise a TypeError

# Attempting to add an element (not possible, will raise a TypeError)
# colors_tuple += ("orange",)  # Uncommenting this line will raise a TypeError

# Attempting to delete an element (not possible, will raise a TypeError)
# del colors_tuple[2]  # Uncommenting this line will raise a TypeError

# Creating a new tuple with modifications
modified_colors_tuple = colors_tuple + ("orange", "pink")

# Displaying the results
print("Original tuple:", colors_tuple)
print("Modified tuple:", modified_colors_tuple)

Original tuple: ('red', 'green', 'blue', 'yellow', 'purple')
Modified tuple: ('red', 'green', 'blue', 'yellow', 'purple', 'orange', 'pink')



As demonstrated in the example, attempting to directly modify, add, or delete elements in a tuple will result in a `TypeError` due to the immutability of tuples.

However, you can create a new tuple by combining or concatenating existing tuples with the desired modifications. This approach preserves the original tuple while providing the updated version as a new tuple.

### Set

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes as we do in lists.
* Set are represented by { }
* Sets are unordered, so you cannot be sure in which order the items will appear.
* Set items are unchangeable, but you can remove items and add new items.
* Duplicates Not Allowed

In [ ]:
# Define empty set

# Dont do this
learning_path = {}
print(type(learning_path))

learning_path = set()
print(type(learning_path))

<class 'dict'>
<class 'set'>

In [ ]:
learning_path = {"Machine Learning",
                 "Cloud Computing",
                 "Mobile Development"}

print(learning_path)

# Adding elements
learning_path.add("Data Scientist")
print(learning_path)
print(type(learning_path))

{'Machine Learning', 'Cloud Computing', 'Mobile Development'}
{'Machine Learning', 'Cloud Computing', 'Mobile Development', 'Data Scientist'}
<class 'set'>

#### **Union operation on Python Sets**



Two sets can be merged using union() function or | operator. Both Hash Table values are accessed and traversed with merge operation perform on them to combine the elements, at the same time duplicates are removed.

In [ ]:
learning_path = {"Machine Learning",
                 "Cloud Computing",
                 "Mobile Development"}
job = {"DevOps",
        "Machine Learning",
        "Fullstack Website"}

skills = learning_path.union(job)

print("Union using union() function")
print(skills)

skills = learning_path|job

print("\nUnion using '|' operator")
print(skills)

Union using union() function
{'Machine Learning', 'Mobile Development', 'Cloud Computing', 'Fullstack Website', 'DevOps'}

Union using '|' operator
{'Machine Learning', 'Mobile Development', 'Cloud Computing', 'Fullstack Website', 'DevOps'}

#### **Intersection operation on Python Sets**

In [ ]:
best_movies = {"Parasite",
                 "Avatar",
                 "Titanic"}
highest_grossing = {"Avatar",
        "Avnegers: Endgame",
        "Titanic"}
match_movies = best_movies & highest_grossing
print(match_movies)

{'Titanic', 'Avatar'}

In [ ]:

# Intersection using
# intersection() function
match_job = learning_path.intersection(job)

print("Intersection using intersection() function")
print(match_job)

# Intersection using
# "&" operator
match_job = learning_path & job

print("\nIntersection using '&' operator")
print(match_job)

Intersection using intersection() function
{'Machine Learning'}

Intersection using '&' operator
{'Machine Learning'}

#### **Finding Differences of Sets in Python**

In [ ]:
# Difference of two sets
# using difference() function
learning = learning_path.difference(job)
job2 = job.difference(learning_path)

print(" Difference of two sets using difference() function")
print(learning)
print(job2)

# Difference of two sets
# using '-' operator
learning = learning_path - job
job2 = job - learning_path

print("\nDifference of two sets using '-' operator")
print(learning)
print(job2)

 Difference of two sets using difference() function
{'Mobile Development', 'Cloud Computing'}
{'Fullstack Website', 'DevOps'}

Difference of two sets using '-' operator
{'Mobile Development', 'Cloud Computing'}
{'Fullstack Website', 'DevOps'}

#### **Clearing Python Sets**

In [ ]:
print("Initial set")
print(learning_path)

# This method will remove
# all the elements of the set
learning_path.clear()

print("\nSet after using clear() function")
print(learning_path)

Initial set
{'Machine Learning', 'Cloud Computing', 'Mobile Development'}

Set after using clear() function
set()

### Dictionary

A dictionary in Python is a collection of key-value pairs, where each key must be unique. Dictionaries are defined using curly braces `{}` and consist of comma-separated key-value pairs.


Key Characteristics of Dictionaries:

- Unordered: Elements in a dictionary have no specific order.
- Mutable: Elements of a dictionary can be added, modified, or removed after the dictionary is created.
- Key-Value Pairs: Each element in a dictionary is a key-value pair.

#### **Example**

In [ ]:
# Creating a dictionary
fruit_prices = {"apple": 1.00, "orange": 0.80, "banana": 0.50}

# Displaying the dictionary
print("Fruit Prices:", fruit_prices)

Fruit Prices: {'apple': 1.0, 'orange': 0.8, 'banana': 0.5}

In this example:
- `fruit_prices` is a dictionary with fruit names as keys and their corresponding prices as values.

#### **Common Dictionary Operations**

- Accessing values: `dictionary[key]`
- Adding a new key-value pair: `dictionary[key] = value`
- Modifying a value: `dictionary[key] = new_value`
- Removing a key-value pair: `del dictionary[key]`
- Checking key existence: `key in dictionary`

In [ ]:
  # Dictionary operations
  student_info = {"name": "John",
                  "age": 20,
                  "grade": "A"}

In [ ]:
# Accessing values
name = student_info["name"]
print("Name:", name)

Name: John

In [ ]:
# Adding a new key-value pair
student_info["city"] = "New York"
print(student_info)

{'name': 'John', 'age': 20, 'grade': 'A', 'city': 'New York'}

In [ ]:
# Modifying a value
student_info["age"] = 21
print(student_info)

{'name': 'John', 'age': 21, 'grade': 'A', 'city': 'New York'}

In [ ]:
# Removing a key-value pair
del student_info["grade"]
print(student_info)

{'name': 'John', 'age': 21, 'city': 'New York'}

In [ ]:
# Checking key existence
has_grade = "grade" in student_info
print("Has grade key?", has_grade)

Has grade key? False

In [ ]:
# Displaying the updated dictionary
print("Updated Student Info:", student_info)

Updated Student Info: {'name': 'John', 'age': 21, 'city': 'New York'}

In this dictionary operations example:
- Accessing values is done using square brackets and the key.
- Adding, modifying, and removing key-value pairs are demonstrated.
- Checking key existence is done using the `in` operator.

Dictionaries are versatile and widely used in Python for storing and manipulating data with a key-based structure.

#### **Dictionary with Homogeneous Data**

In [ ]:
# Dictionary with homogeneous data (mixed types)
person_info = {
    "name": "John Doe",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "Anytown",
        "zipcode": "12345"
    },
    "contacts": {
        "email": "john@example.com",
        "phone": {
            "home": "555-1234",
            "work": "555-5678"
        }
    },
    "is_student": False
}

# Displaying the complex dictionary with homogeneous data
print("Person Information:")
print("Name:", person_info["name"])
print("Age:", person_info["age"])
print("Address:", person_info["address"])
print("Email:", person_info["contacts"]["email"])
print("Home Phone:", person_info["contacts"]["phone"]["home"])
print("Is Student?", person_info["is_student"])

Person Information:
Name: John Doe
Age: 30
Address: {'street': '123 Main St', 'city': 'Anytown', 'zipcode': '12345'}
Email: john@example.com
Home Phone: 555-1234
Is Student? False

In this example, `person_info` is a dictionary that includes various homogeneous data types. It contains strings, integers, nested dictionaries, and a boolean value. The structure allows for storing information about a person, including their name, age, address, contacts, and student status. The nested structure demonstrates how dictionaries can be used to organize and represent complex data.

#### **Using keys`()`, values`()`, and items`()` Functions in a Dictionary**

**Using keys`()`, values`()`, and items`()` Functions in a Dictionary:**

To examine data within a dictionary, we can use the functions `keys()`, `values()`, and `items()`.

- `keys()`: Used to retrieve all keys in the dictionary.
- `values()`: Used to retrieve all values (items) in the dictionary.
- `items()`: Used to retrieve all key-value pairs in the dictionary.

In [ ]:
# Sample dictionary
person_info = {
    "name": "John Doe",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "Anytown",
        "zipcode": "12345"
    },
    "contacts": {
        "email": "john@example.com",
        "phone": {
            "home": "555-1234",
            "work": "555-5678"
        }
    },
    "is_student": False
}

In [ ]:
# Using keys() to get all keys
keys_list = person_info.keys()
print("Keys:", keys_list)

Keys: dict_keys(['name', 'age', 'address', 'contacts', 'is_student'])

In [ ]:
# Using values() to get all values
values_list = person_info.values()
print("Values:", values_list)

Values: dict_values(['John Doe', 30, {'street': '123 Main St', 'city': 'Anytown', 'zipcode': '12345'}, {'email': 'john@example.com', 'phone': {'home': '555-1234', 'work': '555-5678'}}, False])

In [ ]:
# Using items() to get all key-value pairs
items_list = person_info.items()
print("Items:", items_list)

Items: dict_items([('name', 'John Doe'), ('age', 30), ('address', {'street': '123 Main St', 'city': 'Anytown', 'zipcode': '12345'}), ('contacts', {'email': 'john@example.com', 'phone': {'home': '555-1234', 'work': '555-5678'}}), ('is_student', False)])

In this example, `keys_list` will contain all keys in the dictionary, `values_list` will contain all values, and `items_list` will contain all key-value pairs in the dictionary. Using these functions is useful to easily inspect the structure and content of a dictionary.

#### **Accessing Dictionary Values**

The `in` and `not in` operators can be used to check whether a specific key or value exists in a dictionary or not.

In [ ]:
# Sample dictionary
fruit_prices = {"apple": 1.00, "orange": 0.80, "banana": 0.50, "kiwi": 1.20}

In [ ]:
# Using in to check if a key exists
has_banana = "banana" in fruit_prices
print("Has Banana Key?", has_banana)

Has Banana Key? True

In [ ]:
# Using not in to check if a key doesn't exist
has_grape = "grape" not in fruit_prices
print("Has Grape Key?", has_grape)

Has Grape Key? True

In [ ]:
# Using in to check if a value exists
has_price_80 = 0.80 in fruit_prices.values()
print("Has Price 0.80?", has_price_80)

Has Price 0.80? True

In [ ]:
# Using not in to check if a value doesn't exist
has_price_1 = 1.00 not in fruit_prices.values()
print("Has Price 1.00?", has_price_1)

Has Price 1.00? False

In this example:
- `has_banana` checks whether the key "banana" exists in the dictionary.
- `has_grape` checks whether the key "grape" does not exist in the dictionary.
- `has_price_80` checks whether the value 0.80 exists in the dictionary values.
- `has_price_1` checks whether the value 1.00 does not exist in the dictionary values.

These operators are useful for conditional checks when working with dictionaries to ensure that keys or values are present or absent as needed.

#### **Accessing Dictionary Values by Key**


Similar to lists, accessing values (items) in a dictionary can be done using an index. However, dictionaries use keys as indices.

To access a value in a dictionary, simply mention the key within square brackets `[]`.

In [ ]:
# Sample dictionary
fruit_prices = {"apple": 1.00, "orange": 0.80, "banana": 0.50, "kiwi": 1.20}

In [ ]:
# Accessing values by key
apple_price = fruit_prices["apple"]
banana_price = fruit_prices["banana"]

In [ ]:
# Displaying the accessed values
print("Price of Apple:", apple_price)
print("Price of Banana:", banana_price)

Price of Apple: 1.0
Price of Banana: 0.5

In this example:
- `apple_price` is obtained by accessing the value associated with the key "apple".
- `banana_price` is obtained by accessing the value associated with the key "banana".
- The accessed values are then displayed.

Using keys for indexing allows for efficient and direct access to values in a dictionary.

#### **Manipulating Data in a Dictionary**

Data in a dictionary can be added by providing new key-value pairs to the dictionary.

There are three methods that can be used to remove specific data from the dictionary:

1. **`del`**: Used to delete an element based on the key.
2. **`pop()`**: Used to delete an element based on the key and returns the deleted value.
3. **`clear()`**: Used to delete all elements in the dictionary.

In [ ]:
# Sample dictionary
student_info = {"name": "Alice", "age": 25, "grade": "B", "is_student": True}

In [ ]:
# Adding a new key-value pair
student_info["city"] = "Wonderland"
print(student_info)

{'name': 'Alice', 'age': 25, 'grade': 'B', 'is_student': True, 'city': 'Wonderland'}

In [ ]:
# Deleting an element using del
del student_info["grade"]
print("After Deletion (del):", student_info)

After Deletion (del): {'name': 'Alice', 'age': 25, 'is_student': True, 'city': 'Wonderland'}

In [ ]:
# Deleting and returning a value using pop()
removed_age = student_info.pop("age")
print("Removed Age (pop()):", removed_age)
print("After Deletion (pop()):", student_info)

Removed Age (pop()): 25
After Deletion (pop()): {'name': 'Alice', 'is_student': True, 'city': 'Wonderland'}

In [ ]:
# Clearing all elements using clear()
student_info.clear()
print("After Clearing (clear()):", student_info)

After Clearing (clear()): {}

In this example:
- New data is added by providing a new key-value pair.
- The `del` method is used to delete an element based on the key.
- The `pop()` method is used to delete an element based on the key and return the deleted value.
- The `clear()` method is used to delete all elements in the dictionary.

Using these methods provides flexibility in managing data within a dictionary.

## [Bonus] Regular Expressions (Regex)

A regular expression, also known as regex or regexp, is essentially a search query for text thatâ€™s expressed by string pattern.

There are multiple different ways through which we can apply regular expressions, a whole wide range of programming languages, includes Python. Also command line tools that know how to apply regexes, like grep, sed or awk. The implementation may vary, but the principles remain the same.

* Regular expressions in Python uses raw string (r""). It means that interpreter shouldn't try to interpret any special characters. Just pass the string to the function as is.
* The Match object includes information like position in the string that matched and the actual matching string.

In [ ]:
import re


result = re.search(r"aza", "plaza")
print(result)
# <re.Match object; span=(2, 5), match='aza'>
print(re.search(r"aza", "maze"))
# None

<re.Match object; span=(2, 5), match='aza'>
None

* Circumflex (^) pattern matches the beginning of the line. Dot (.) matches any character. Option re.IGNORECASE to match insensitive case.

In [ ]:
print(re.search(r"^x", "xenon"))
# <re.Match object; span=(0, 1), match='x'>

print(re.search(r"p.ng", "sponge"))
# <re.Match object; span=(1, 5), match='pong'>

<re.Match object; span=(0, 1), match='x'>
<re.Match object; span=(1, 5), match='pong'>

* To matched a range of characters, use another feature of regexes called character classes ([ ]).

In [ ]:
print(re.search(r"cloud[a-zA-Z0-9]", "cloud9"))
# <re.Match object; span=(0, 6), match='cloud9'>

print(re.search(r"[^a-zA-Z]", "This is a sentence."))
# <re.Match object; span=(4, 5), match=' '>

<re.Match object; span=(0, 6), match='cloud9'>
<re.Match object; span=(4, 5), match=' '>

* Use the pipe symbol (|) to match one expression or another.

In [ ]:
print(re.search(r"cat|dog", "I like cats."))
# <re.Match object; span=(7, 10), match='cat'>

<re.Match object; span=(7, 10), match='cat'>

* Dollar sign ($) pattern match the end of the line.

In [ ]:
print(re.search(r"cat$", "I like cats."))
# None

None

Repeated matches is another regex concept.
* The star (*) takes as many character as possible.

In [ ]:
print(re.search(r"Py[a-z]*n", "Python Programming"))
# <re.Match object; span=(0, 6), match='Python'>

<re.Match object; span=(0, 6), match='Python'>

* The plus (+) character matches one or more occurrences of the character before it.

In [ ]:
print(re.search(r"o+l+", "woolly"))
# <re.Match object; span=(1, 5), match='ooll'>

<re.Match object; span=(1, 5), match='ooll'>

* The question (?) mark symbol means either zero or one occurrence of the character before it.

In [ ]:
print(re.search(r"p?each", "I like peaches"))
# <re.Match object; span=(7, 12), match='peach'>

<re.Match object; span=(7, 12), match='peach'>